.flowplayer.is-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.flowplayer.is-background .fp-mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.flowplayer.is-background .fp-ui {
  display: none;
}
